
@{
    ViewBag.Title = "Pets";
}
<div class="container">
    <h2>Select Your Pets</h2>
</div>

<div class="metaslider_container_27">
    <img src="~/images/new-slider.jpg"style="width:1138px" class="img-responsive" />
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3 class="margin-none-top margin-none-bottom">shop for your pet</h3>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="spacer-sm-bottom"><img src="~/images/NewFolder1/shop-by-pet-061316-img-120x120-dog-d.gif" class="img-responsive" border="0" ></div>
                <div class="text-center">
                    @Html.ActionLink("shop dog", "PetDogs", "Products")
                </div>
                </div>
            <div class="col-md-2">
                <div class="spacer-sm-bottom"><img src="~/images/NewFolder1/shop-by-pet-061316-img-120x120-cat-d.gif" class="img-responsive" border="0" alt="shop cat"></a></div>
                <div class="text-center">
                    @Html.ActionLink("shop cat", "PetDogs", "Products")
                </div>
            </div>

            <div class="col-md-2">
                <div class="spacer-sm-bottom"><img src="~/images/NewFolder1/shop-by-pet-061316-img-120x120-small-animal-d.gif" class="img-responsive" border="0" alt="shop small animal"></a></div>
                <div class="text-center">
                    @Html.ActionLink("shop small animal", "PetDogs", "Products")
                </div>
            </div>

            <div class="col-md-2">
                <div class="spacer-sm-bottom"><img src="~/images/NewFolder1/shop-by-pet-061316-img-120x120-bird-d.gif" class="img-responsive" border="0" alt="shop bird"></a></div>
                <div class="text-center">
                    @Html.ActionLink("shop bird", "PetDogs", "Products")
                </div>
            </div>

            <div class="col-md-2">
                <div class="spacer-sm-bottom"><img src="~/images/NewFolder1/shop-by-pet-061316-img-120x120-fish-d.gif" class="img-responsive" border="0" alt="shop fish"></a></div>
                <div class="text-center">
                    @Html.ActionLink("shop fish", "PetDogs", "Products")
                </div>
            </div>

            <div class="col-md-2">
                <div class="spacer-sm-bottom"><img src="~/images/NewFolder1/shop-by-pet-061316-img-120x120-reptile-d.gif" class="img-responsive" border="0" alt="shop reptile"></a></div>
                <div class="text-center">
                    @Html.ActionLink("shop reptile", "PetDogs", "Products");
                </div>
            </div>
        </div>
    </div>
</div>