@model IEnumerable<PetsApplication.Models.OrderDetails>

@{
    ViewBag.Title = "OrderDetails";
}

<h3>@ViewBag.name Your OrderDetails</h3>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
           Image
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            <img src=@Url.Content(item.Imageurl) class="img-circle" alt="Cinque Terre" width="304" height="236">
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.customer_Orders.order_id)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.order_details_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_details_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_details_id })
        </td>*@
            </td>
    </tr>
}

</table>
