@model IEnumerable<PetsApplication.Models.Products>

@{
    ViewBag.Title = "PetDogs";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>PetDogs</h2>

<div>
    <h4>Products</h4>
    <script type="text/javascript">
        function ClearResults() {

            $('#result').empty();
        }
        function OpenPopUp() {

            alert('Succesfully Added To The cart');
            $('#Success').hide();
        };
    </script>

    <hr />
    @foreach (var product in @Model)
    {
        <br />
        <div class="container">

            <div class="col-md-4">
                <img src=@Url.Content(product.ImageUrl) class="img-circle" alt="Cinque Terre" width="304" height="236">
                
            </div>
            
            <div class="about col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h3>@product.ProductName</h3>
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>Breed:</td>
                            <td>
                                <p>Hound</p>
                            </td>
                        </tr>


                        <tr>
                            <td>Weight:</td>
                            <td>
                                <p>6-8 Kgs.</p>
                            </td>
                        </tr>


                        <tr>
                            <td>Height:</td>
                            <td>
                                <p>30-32 cms.</p>
                            </td>
                        </tr>


                        <tr>
                            <td>Color:</td>
                            <td>
                                <p>Tricolour</p>
                            </td>
                        </tr>



                        <tr>
                            <td>Price</td>

                            <td class="price"><span class="amount"><span class="WebRupee">Rs.&nbsp;</span>@product.price</span></td>
                        </tr>

                    </tbody>
                </table>
                <br />
                <br />

                <p>
                    Affectionate, lazy, devoted, quiet, and peaceful, the Basset Hound does exceptionally well with a family. This breed loves children, and generally does well with other animals. They can be taught tricks

                    <div id="Loading" style="display:none">
                        <img src="~/images/135.gif" />
                    </div>
                </p>
                <div id="Success" class="text-success">
                   
                </div>
                
               @* @Html.ActionLink("Add To Cart", "AddToCart", new { id = product.product_id }, new { @class = "btn btn-primary" })*@
                @Ajax.ActionLink("Add To Cart", "Load","Products", new { Id = product.product_id },
               new AjaxOptions
               {
                   HttpMethod="Get",
                   UpdateTargetId = "Success",
                   InsertionMode=InsertionMode.Replace,
                   LoadingElementId= "Loading",
                   OnBegin ="ClearResults",
                   OnSuccess= "OpenPopUp"
               },new { @class = "btn btn-primary" })
                @*<button type="button" class="btn btn-primary btn-md">
                        Add To Cart
                    </button>*@
                @Html.ActionLink("Buy Now", "BuyItems", "Products", new { Id = product.product_id }, new { @class = "btn btn-primary" })
                @*<button type="button" class="btn btn-primary btn-md">
                    Buy Now
                </button>*@

                @Html.ActionLink("Back to Products", "Index", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("CheckYourCart", "CustomerOrders", "Products", new { @class = "btn btn-default btn-sm glyphicon glyphicon-shopping-cart" })
            </div>
           



        </div>

        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = product.product_id }) |*@

        </p>
    }
    @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>*@
   @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
</div>